* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: auto;
    background-color: #FAFAFA;
}

.btn {
    padding: 8px;
    background-color: #2549D3;
    border-radius: 5px;
    color: #FAFAFA;
}

.p-10 {
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* STYLE THE NAVBAR */
nav {
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-items .item-n {
    margin-left: 10px;
    margin-right: 10px;
}



