* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: auto;
    background-color: #FAFAFA;
}

img {
    height: 100%;
}

.btn {
    padding: 15px;
    background-color: #2549D3;
    border-radius: 5px;
    color: #FAFAFA;
    border: none;
}

.card {
    box-shadow: inset;
    background-color: white;
    height: 100%;
}


/* text align */

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.bg-position-center {
    background-position: center;
}

/* padding styles */
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

/* margin styles*/
.m-20 {
    margin: 20px;
}

.m-top-20 {
    margin-top: 10px;
}

.m-bottom-20 {
    margin-bottom: 10px;
}

.m-left-20 {
    margin-left: 10px;
}

.m-right-20 {
    margin-right: 10px;
}


.m-10 {
    margin: 10px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-bottom-10 {
    margin-bottom: 10px;
}

.m-left-10 {
    margin-left: 10px;
}

.m-right-10 {
    margin-right: 10px;
}

/* flex styles */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center;
}

.left-align {
    text-align: left;
}

.text-color-blue {
    color: #2549D3;
}

.vh-10 {
    height: 10vh;
}

.vw-10 {
    width: 10vw;
}

.vw-50 {
    width: 50vw;
}

.vw-100 {
    width: 100vw;
}



.big-font {
    font-size: 5vw;
}

.small-font {
    font-size: 2vw;
}

.section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-white {
    background-color: white;
}

/* STYLE THE NAVBAR */
nav {
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
}

.nav-items .item-n {
    margin-left: 10px;
    margin-right: 10px;
}


/* STYLIZE SECTION 3 - OUR PRODUCTS SECTION */
